{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login/styles.css' %}">
    <title>MusclesUP</title>
    
</head>
<body>
    <div class="wrapper">
        <header class="container">
            <img src="{% static 'login/images/logo.png' %}" alt="{{ logo }}">
                <nav>
                    <ul>
                        <li class="nav_text"><a href="/">ГОЛОВНА</a></li>
                        <li class="nav_text"><a href="/">ПРО НАС</a></li>
                        <li class="nav_text"><a href="/">ДЛЯ КОГО</a></li>
                        <li class="active"><a href="">МІЙ КАБІНЕТ</a></li>
                        <li class="nav_btn"><a href="/register/register.html">РЕЄСТРАЦІЯ</a></li>
                    </ul>
                </nav>
                <div class="hero-container">
                    <div class="hero--section">
                        <div class="hero--info">
                            <h2 class="text-opacity">ЗРОБИ</h2>
                            <h2 class="text-opacity">ЗРОБИ</h2>
                            <h2 class="text-opacity">ЗРОБИ</h2>
                        </div>
                        
                    </div>
                </div>
        </header>
        <div class="login-container">
            <h2 class="login-title">АВТОРИЗАЦІЯ</h2>
            
            <div class="login--menu">
                <form class="login--form" action="/login/" method="post">
                    {% csrf_token %} <input type="email" id="email" placeholder="Електронна пошта" required>
                    <input type="password" id="password" placeholder="Пароль" required>
                    <button type="submit">Увійти</button>
                </form>
             </div>
            
            <a href="{%url 'password_reset'%}" class="forgot-password">Я НЕ ПАМ’ЯТАЮ СВІЙ ПАРОЛЬ</a>
          </div>
    </div>
    <script src="{% static 'login/index.js' %}"></script>
</body>
</html>