{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'profile/styles.css' %}">
  <title>Профіль користувача</title>
</head>
<body>
  <div class="profile-container">
    <div class="profile-header">
      <img src="{% static 'profile/images/avatar.jpg' %}" alt="{{ logo }}">
      <h1 class="profile-name">{{user.username }}</h1>
      <p class="profile-email">{{ user.email }}</p>
    </div>

    <div class="profile-details">
      <h2>Особисті дані</h2>
      <ul>
        <li><strong>Прізвище та Ім'я:</strong>{{user.username}}</li>
        <li><strong>Електронна пошта:</strong>{{user.email}}</li>
        <li><strong>Пароль:</strong>{{user.password}}</li>
      </ul>
    </div>

    <div class="profile-actions">
      <button class="edit-btn" onclick="location.href='/'">Повернутися на головну сторінку</button>
      <button class="logout-btn" onclick="location.href='/login/login.html'">Вийти</button>
    </div>
  </div>
</body>
</html>
